.rbc-calendar {
  height: 600px;
}

.rbc-toolbar-label {
  font-size: 20px;
}

.modal-header {
  font-size: 20px;
  font-weight: bold;
}

label {
  display: inline-block;
  font-weight: bold;
}

/**************************************************/
/***********  FROM CHROMEBOX CSS FILE   ***********/
/**************************************************/

.rbc-event {
    border-width: 2px;
    border-style: solid;
}

/* variables for the colors of the various kinds of calendar events */
:root {
    /* General colors for job events in full calendar */
    --job-notpaid-border-color: #ff3333; /* red */
    --job-pencilledin-color: #a2a2a2; /* gray */

    /* Colors for job events worked by Tyler */
    --job-color-tyler: #3a87ad; /* blue */
    --job-highlight-color-tyler: #75abc6; /* light blue */

    /* Colors for job events worked by Meghan */
    --job-color-meghan: #23bc72; /* green */
    --job-highlight-color-meghan: #2ed584; /* light green */

    /* Colors for job events worked by Tyler and Meghan together */
    --job-color-tyler-and-meghan: #b13eb1; /* purple */
    --job-highlight-color-tyler-and-meghan: #d891d8; /* light purple */

    /* colors for expense events */
    --expense-color: #d43f3a; /* red */
    --expense-highlight-color: #e45763; /* light red */
}


/**** JOB EVENTS ****/

.workedby-tyler, .workedby-tyler.rbc-selected {
    background-color: var(--job-color-tyler);
    border-color: var(--job-color-tyler);
}

.workedby-meghan, .workedby-meghan.rbc-selected {
    background-color: var(--job-color-meghan);
    border-color: var(--job-color-meghan);
}

.workedby-tyler-and-meghan,
.workedby-tyler-and-meghan.rbc-selected {
    background-color: var(--job-color-tyler-and-meghan);
    border-color: var(--job-color-tyler-and-meghan);
}

.workedby-tyler:hover {
  background-color: var(--job-highlight-color-tyler);
  border-color: var(--job-highlight-color-tyler);
}

.workedby-meghan:hover {
  background-color: var(--job-highlight-color-meghan);
  border-color: var(--job-highlight-color-meghan);
}

.workedby-tyler-and-meghan:hover {
  background-color: var(--job-highlight-color-tyler-and-meghan);
  border-color: var(--job-highlight-color-tyler-and-meghan);
}

/* When a pencilled-in Tyler job is hovered, change the background
 * color for that job to Tyler's default color*/
.workedby-tyler.pencilled-in.fc-event-hovered {
    background-color: var(--job-color-tyler);
    border-color: var(--job-color-tyler);
}

/* When a pencilled-in Meghan job is hovered, change the background
 * color for that job to Meghan's default color*/
.workedby-meghan.pencilled-in.fc-event-hovered {
    background-color: var(--job-color-meghan);
    border-color: var(--job-color-meghan);
}

/* When a pencilled-in TylerAndMeghan job is hovered, change the background
 * color for that job to the default color for TylerAndMeghan jobs */
.workedby-tyler-and-meghan.pencilled-in.fc-event-hovered {
    background-color: var(--job-color-tyler-and-meghan);
    border-color: var(--job-color-tyler-and-meghan);
}

.pencilled-in {
    background-color: var(--job-pencilledin-color);
    border-color: var(--job-pencilledin-color);
}

.job-event.has-not-paid,
.job-event.has-not-paid.pencilled-in {
    border-color: var(--job-notpaid-border-color);
    border-style: solid;
    border-width: 2px;
}


/**** EXPENSE EVENTS ****/

.expense-event, .expense-event.rbc-selected {
    background-color: var(--expense-color);
    border-color: var(--expense-color);
}

.expense-event:hover {
    background-color: var(--expense-highlight-color);
    border-color: var(--expense-highlight-color);
}
